/* media queries */
@media only screen
{

.s1{
  background:url('./PNG/AM_001_D/AM_001_D\(1\).png');
  background-size:cover;
  background-size: 100% 100%;
}
.s2{
  background:url('./PNG/AM_001_D/AM_001_D\(2\).png');
  background-size:cover;
  background-size: 100% 100%;
}
#snd{
    text-align:left;
    margin-left:2em;
    font-size:4rem;
  }
.s3{
  background:url('./PNG/AM_001_D/AM_001_D\(3\).png');
  background-size:cover;
  background-size: 100% 100%;
}
.s4{
  background:url('./PNG/AM_001_D/AM_001_D\(4\).png');
  background-size:cover;
  background-size: 100% 100%;
}
}

@media only screen and (max-width:500px){
  .s1{
  background:url('./PNG/AM_001_P/AM_001_P\(1\).png');
  background-size:cover;
  background-size: 100% 100%;
}
.s2{
  background:url('./PNG/AM_001_P/AM_001_P\(2\).png');
  background-size:cover;
  background-size: 100% 100%;
  
}
#snd{
    text-align:left;
    margin-left:2em;
    font-size:4rem;
  }
.s3{
  background:url('./PNG/AM_001_P/AM_001_P\(3\).png');
  background-size:cover;
  
   background-size: 100% 100%;

}
.s4{
  background:url('./PNG/AM_001_P/AM_001_P\(4\).png');
  background-size:cover;
  background-size: 100% 100%;
}
.s5{
  background:url('./bg-mobile-view.png');
  background-size:cover;
  background-size: 100% 100%;
}
.s6{
  background:url('./Orange\ Floral\ Wedding\ Invitation\ Card.png');
  background-size:cover;
  
}

}

@media only screen 
  and (min-device-width: 768px) 
   and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) 
{
  .s1{
  background:url('./PNG/AM_001_TAB_P/AM_001_TAB_P.png');
  background-size:cover;
  
  background-size: 100% 100%;
}
.s2{
  background:url('./PNG/AM_001_TAB_P/AM_001_TAB_P\(2\).png');
  background-size:cover;
  background-size: 100% 100%;
  
}
#snd{
    text-align:left;
    margin-left:2em;
    font-size:4rem;
  }
.s3{
  background:url('./PNG/AM_001_TAB_P/AM_001_TAB_P\(3\).png');
  background-size:cover;
  background-size: 100% 100%;
}
.s4{
  background:url('./PNG/AM_001_TAB_P/AM_001_TAB_P\(4\).png');
  background-size:cover;
  background-size: 100% 100%;

}
.s5{
  background:url('./bg-mobile-view.png');
  background-size:cover;
 
}
.s6{
  background:url('./Orange\ Floral\ Wedding\ Invitation\ Card.png');
  background-size:cover;
  
}
}
@media only screen 
  and (min-device-width: 768px) 
   and (orientation:landscape)
  and (-webkit-min-device-pixel-ratio: 1) 
{
  .s1{
  background:url('./PNG/AM_001_TAB_L/AM_001_TAB_L.png');
  background-size:cover;
  
  background-size: 100% 100%;
}
.s2{
  background:url('./PNG/AM_001_TAB_L/AM_001_TAB_L\(2\).png');
  background-size:cover;
  background-size: 100% 100%;
  
}
#snd{
    text-align:left;
    margin-left:2em;
    font-size:4rem;
  }
.s3{
  background:url('./PNG/AM_001_TAB_L/AM_001_TAB_L\(3\).png');
  background-size:cover;
  
   background-size: 100% 100%;

}
.s4{
  background:url('./PNG/AM_001_TAB_L/AM_001_TAB_L\(4\).png');
  background-size:cover;
  background-size: 100% 100%;
}
.s5{
  background:url('./Gold\ and\ Maroon\ Indian\ Wedding\ Invitation\ Card.png');
  background-size:cover;
  
}
.s6{
  background:url('./Orange\ Floral\ Wedding\ Invitation\ Card.png');
  background-size:cover;
  
}
}

@media only screen 
  and (min-width: 992px)
{

.s1{
  background:url('./PNG/AM_001_D/AM_001_D\(1\).png');
  background-size:cover;
  
  background-size: 100% 100%;
}
.s2{
  background:url('./PNG/AM_001_D/AM_001_D\(2\).png');
  background-size:cover;
  background-size: 100% 100%;
}

#snd{
    text-align:left;
    margin-left:2em;
    font-size:4rem;
  }
.s3{
  background:url('./PNG/AM_001_D/AM_001_D\(3\).png');
  background-size:cover;
  background-size: 100% 100%;
}
.s4{
  background:url('./PNG/AM_001_D/AM_001_D\(4\).png');
  background-size:cover;
  background-size: 100% 100%;
}
.s5{
  background:url('./Gold\ and\ Maroon\ Indian\ Wedding\ Invitation\ Card.png');
  background-size:cover;
  background-size: 100% 100%;
}
.s6{
  background:url('./Orange\ Floral\ Wedding\ Invitation\ Card.png');
  background-size:cover;
  background-size: 100% 100%;
}
}